/** @format */

.dark .react-flow__node {
  background: #777;
  color: white;
}

.light .react-flow__node {
  background: white;
  color: #111;
}

.dark .react-flow__controls {
  background: #777;
  color: white;
}

.light .react-flow__controls {
  background: white;
  color: #111;
}
